aws/credentials

codex/log/*
codex/sessions/*
codex/auth.json
codex/history.jsonl
codex/version.json

zsh/private.zsh
zsh/.zsh_history
zsh/.zsh_sessions
zsh/.zcompdump

nushell/history*

tmux/plugins/*
CLAUDE.md
