layout {
   default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Editor" focus=true {
        pane stacked=true {
           pane expanded=true command="nvim" name="Nvim"
           pane name="Terminal"
        }    
    }
    tab name="OpenCode"  {
        pane command="opencode" name="OpenCode"
    }
    tab name="LazyGit" {
        pane command="lazygit" name="LazyGit"
    }
    tab name="Shell" {
        pane
        pane
    }
}
